.table 
{
    border-collapse: separate; /* Placing a space betweent rows*/
    border-spacing: 0 10px; /* Set the spacing between rows */
}

.table th 
{
    border-bottom: none; /* Removing the bottom border from table headers */
}